[user]
    email = mikaelkawam.dev@gmail.com
    name = Mikael Kawam
[merge]
    tool = meld
[mergetool "meld"]
    path = C:/Program Files /Meld/Meld.exe
    cmd = \"C:/Program Files /Meld/Meld.exe\" --diff \"$BASE\" \"$LOCAL\" \"$REMOTE\" --output \"$MERGED\"